#app{
    max-width: 420px;
    margin: 0 auto;
    background: #fff;
    .topbar{
        .mu-appbar{
            height: 48px;
            overflow: hidden;
            .mu-appbar-title{
                font-size: 16px;
                line-height: 48px;
                height: 48px;
            }
            .left i.mu-icon{
                font-size: 35px;
            }
            .material-icons{
                line-height: 25px;
                
            }
        }
    }
    .news,.movies{
        padding: 10px;
        .mu-paper{
            margin-bottom: 14px;
            img{
                width: 100%;
            }
            p{
                color: #666;
                margin: 0px;
                padding: 10px;
            }
        }
    }
    .nav2{
        position:fixed;
        width: 100%;
        max-width: 420px;
        bottom: 0px;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
        z-index: 999999999;
    }
    .pictures{
        background: #fff;
        .mu-list{
            .mu-item-wrapper{
                border-bottom:1px solid #eee; 
            }
        }
        .mu-divider{
            display: none;
        }
    }
    .addJoke{
        padding: 10px;
        .mu-text-field{

            width: 100%;
        }
    }
    .jokelist{
        .mu-icon{
            position: absolute;
            right: 20px;
        }
    }

}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(10px);
  opacity: 0;
}