#app{
    max-width: 420px;
    margin: 0 auto;
    background: #fff;
    .main{
        width: 100%;
        margin-top: 48px;
        padding: 10px;
        margin-bottom: 48px;
    }
    .topbar{
        position: fixed;
        top: 0px;
        width: 100%;
        max-width: 420px;
        .mu-appbar{
            height: 48px;
            overflow: hidden;
            .mu-appbar-title{
                font-size: 16px;
                line-height: 48px;
                height: 48px;
            }
            .left i.mu-icon{
                font-size: 35px;
            }
            .material-icons{
                line-height: 25px;
                
            }
        }
    }
    .nav2{
        position:fixed;
        width: 100%;
        max-width: 420px;
        bottom: 0px;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
        z-index: 999999999;
        .mu-paper{
            margin-bottom: 0px;
        }
    }
    .mu-paper{
        margin-bottom: 10px;
    }
    .imgs{
        p{
            padding: 10px;
            margin: 0px;
            color: #666;
        }
        img{
            width: 100%;
            vertical-align: top;
        }
    }
    .news{
        p{
            margin: 0px;
            padding: 10px;
        }
        img{
            width: 100%;
        }
    }
    .today{
        h3,p{
            margin: 0px;
            padding: 10px 10px 0;
        }
        .imgbox{
            text-align: center;
            margin-top: 10px;
            img{
                vertical-align: text-top;
                margin-bottom: 10px;
                max-width: 100%;
            }
        }
    }
}
